<%- include ('partials/header') %>
<div class="form-1">
     <!-- <%- include('./partials/messages') %> -->
  <form action="/artisan/login"  method="POST">
    <h3>Artisan Login Page</h3>

      <p><input type="text" name="username"  placeholder="Enter your username"></p>
      <p><input type="password" name="password"  placeholder="Contact Phone password"></p>

      <input type="submit" name="" value="Click to Login" >

      </form>

</div>


<%- include('partials/footer') %>